body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: sans-serif;
    color: dimgray;
}

img{
    max-width: 100%;
}

/*HEADER*/
header{
    display: inline-flex;
    justify-content: center;
    padding: 0px 0 10px 0;
    padding-left: 10px;
    border-radius: 10px;
}
.titysub{
    padding-top: 15px;
    display: flex;
    padding-left: 25px;
    
}
.titulo{
    border-radius: 20px;
    width: 300px;
    padding-left: 0px;
    padding-top: 27px;
}
.subtitulo{
    color: cadetblue;
}
.espacioblanco{
    padding-left: 450px;
    

}
.logo img{
    background: white;
    width: 65px;
    height: 65px;
    padding-top: 30px;
    border-radius: 10px 10px;
}
.logoimg img{
    width: 20px;
    height: 20px;
    display: flex;
    padding-left: 20px;
    padding-top: 19px;
}
.contacto{

color: black;
padding-left: 10px;
padding-right: 20px;
}
.logocontacto{
    display: flex;
    background-color: mintcream;
    border-radius: 20px;
    border: 2px solid grey;
    padding-left: 0px;

}


/*MAIN*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} 

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-figure{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item img{
    width: 120%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.1);
}

.precio{
    font-size: 18;
    font-weight: 900;
}

.info-figure button{
    border: none;
    background: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}